<div class="footer-container">
  <div class="footer-image">
    <img src="/assets/images/rodeo-logo-light-green.svg">
  </div>
  <div class="footer-text">
    <p><a href="/about">About</a></p>
    <p><a href="/projectactivities">Project activities</a></p>
    <p><a href="/news">News</a></p>
    <p><a href="/faq">FAQ</a></p>
    <p><a href="/contacts">Contacts</a></p>
  </div>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <div class="footer-logos">
    <img src="/assets/images/Logo_vertical_Co-funded-by-the-EU.jpg"> 
  </div>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <div class="footer-logos">
    <img src="/assets/images/EUMETNETLogo_FullColourSquare.jpg">
  </div>
</div>
